.images {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media(max-width: 645px) and (orientation: landscape) {
    .images {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
    }
}