.search-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0;
}

.search-form__input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #c3c3c3;
    padding-left: 10px;
    font-size: 1rem;
    line-height: 2;
    flex-basis: 300px;
}

.search-form__button:focus,
.search-form__input:focus {
    outline: none;
}

.search-form__button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #c3c3c3;
    background-color: #c3c3c3;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

@media(max-width: 425px) {
    .search-form {
        margin: 20px
    }
}