.image {
    cursor: pointer;
    height: 200px;
    flex-grow: 1;
}
.image__item {
    height: inherit;
    min-width: 100%;
    object-fit: contain;
}

@media(max-width: 645px) and (orientation: landscape) {
    .image {
        display: inline-block;
        margin: 5px;
    }
}
